:root {
    --color-principal: blue;
    --color-base:gray;
    --color-secundario:aquamarine;
    --color-terciario:red;
  }

html{
    font-family: 'Open Sans', sans-serif;
}

*{
    padding:0rem;
    margin:0rem;
}

body{
    background-color: var(--color-base);
    font-size:16px;
}

header, main, footer{
    width: 80%;
    margin: 0rem auto;
    padding: 0.5rem 0.5rem;
}

header{
    background-color: var(--color-principal);
}

footer{
    background-color: var(--color-terciario);
}

main{
    min-height: 200px;
    background-color: var(--color-secundario);
}

.secciones{
    min-height: 50px;
}

header-logo{
    display: inline-block;
    width: auto;
    background-color: yellow;
}

header-menu{
    display: inline-block;
    width: auto;
    background-color: blueviolet;
    position: relative;
    top:auto;
    left:auto;
}

header-menu ul {
    list-style: none;
    background-color:chartreuse;
    
}

header-menu ul li{
    display: inline-block;
    text-align: center;
    background-color: burlywood;
}

header-menu ul li a{
    text-decoration: none;
}

#home-logo{
    width: 7rem;
}



.flex-container {
    display: flex;
    background-color: grey;
}

.flex-container-reverse {
    display: flex;
    background-color: grey;
    flex-direction: row-reverse;
}

.flex-item {
    background-color: white;
    text-align: center;
 }


 .porta-imagen{
     margin-bottom: 2em;
     position: relative;
     overflow:hidden;
     cursor: pointer;
     box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5)
 }

.porta-texto {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .75s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.porta-imagen:hover .porta-texto{
    transform: scale(1);
}

.imagen{
    max-width: 25rem; /*15rem*/
    aspect-ratio: 4/3;
    object-fit: cover;

    display: block;
}